@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0.333em;
    padding:0;
    border:0;
}

body{
    font-family: 'Roboto', sans-serif;
    color:#36454F;
    background-color: whitesmoke;
	display: flex;
	flex-direction: column;
    font-size: 1em;
    line-height: 1.6;
}
h2{
    font-family: 'Roboto', serif;
    letter-spacing: 0.1875em;
    color:#36454F;
}
     
.companylogo{
    float: left; 
    font-size: 250%;
    margin-left: 1.875px;                          
                                           
}
.navigationbar{
    font-size: 130%;
    list-style-type: none;
    letter-spacing: 0.1875em;
}
.navigationbar a:hover {
    color:red;
}

.photo_one_home{                             
   margin-top: 0.938em;
    height: 12.5em;
    width: 100%;
}
  
.photo_two_home {                             
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
}
    
}

.companylogo, .navigationbar{
    line-height: 75px;
    
}

.navigationbar li {
    float: right;
    margin-right: 1.875em;
}

.navigationbar a {
    text-decoration: none;
    color:#36454F;
}
.textone{                                     
    flex-wrap: wrap;
	text-align: center;
	padding-top: 0.938em;
    width: 80%;
    margin: 5%;
    height: 50%;
}
footer{                                        /*footer with social networks*/

  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
  text-align: center;
}
  
.links{
    text-align: center;
    margin-bottom: -1.875em;
}
.links li{
    display:inline;
}
.links i {
    font-size: 130%;
    margin: 1%;
    padding: 1%;
    color: #BEBEBE;   
}
.photo_one_itservices {                            
    margin-top: 0.938em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

.four-text-pagetwo{                                      
    margin-top: 3.125em;   
}

.textpagetwo {
	flex-wrap: wrap;
	text-align: center;
}

.photo_four_signup {                                        
    margin-top: 0.938em;                                       
    width: 100%;
}
.login {                                                    
     width: 30%;
	 height: auto;
  background-color: #36454F;
  color:  whitesmoke;
  padding: 0.875em 	1.250em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.250em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.signup {
   width: 30%;
   height: auto;
  background-color: #36454F;
  color:  whitesmoke;
  padding: 0.875em 	1.250em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.250em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}